<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>C4C Dashboard Challange</h1>
  <br>
  <form action="/submit" method="post">
    <label for="name">Organization Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="logo_url">Logo URL:</label><br>
    <input type="url" id="logo_url" name="logo_url" required><br><br>

    <label for="desc">Description:</label><br>
    <textarea id="desc" name="desc" rows="4" cols="50" required></textarea><br><br>

    <label for="active">Currently Active?:</label>
    <input type="checkbox" id="active" name="active"><br><br>

    <input class = "submit" type="submit" value="Submit">
  </form>
  <br>
  <hr/>
  <% info.forEach(i => { %>
    <ul>
      <img src="<%= i.logo_url %>">
      <h3><%= i.name %></h3>
      <li><%= i.desc %></li>
      <br>
      <li class="<%= i.active %>"><%= i.active ? 'Active' : 'Inactive' %></li>
      <button class="delete-btn" data-id="<%= i._id %>">Delete</button>
    </ul>
  <% }); %>

  <script>
    document.querySelectorAll('.delete-btn').forEach(button => {
      button.addEventListener('click', async (event) => {
        const id = event.target.getAttribute('data-id');
        const response = await fetch(`/delete/${id}`, {
          method: 'DELETE'
        });

        if (response.ok) {
          location.reload(); // Reload the page to reflect the changes
        } else {
          alert('Failed to delete the organization');
        }
      });
    });
  </script>

</body>
</html>
