<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hi
    <% info.forEach(i => { %>
        <ul>
            <li>Name: <%= i.name %></li>
            <li>Name: <%= i.name %></li>
            <li>Logo: <%= i.logo_url %></li>
            <li>Desc: <%= i.desc %></li>
            <li>Active: <%= i.active %></li>
        </ul>
    <% }); %>
</body>
</html>